.AiCard {
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  top: 50%;
  display: grid;
  place-items: center;  
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}